<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="float: left;">
      <form [formGroup]="userForm" (submit)="submitForm()">
        <label for="username">User Name</label>
        <input type="text" name="username" formControlName="name" />
        <span *ngIf="!userForm.get('name').valid && userForm.get('name').dirty">Name should in length between 5 - 20
          characters</span>
        <span *ngIf="userForm.get('name').touched && !userForm.get('name').valid">This field is required</span>
        <br />
        <label for="email">Email</label>
        <input type="text" name="age" formControlName="email" />
        <br />
        <label for="dob">DOB</label>
        <input type="date" formControlName="dob" />
        <br />
        <label for="country">Country</label>
        <select name="country" id="" formControlName="country">
          <option value="IN">India</option>
          <option value="US">America</option>
          <option value="US">UK</option>
          
        </select>
        <label for="gender">Gender</label>
          <div>
            <input class="form-control" id="male" type="radio" value="male" formControlName="gender">
            <label for="male">Male</label>
          </div>
          <div>
            <input class="form-control" id="female" type="radio" value="female" formControlName="gender">
            <label for="female">Female</label>
          </div>

          <label for="status">Status</label>
          <div>
            <input class="form-control" id="married" type="radio" value="married" formControlName="status">
            <label for="married">Married</label>
          </div>
          <div>
            <input class="form-control" id="unmarried" type="radio" value="unmarried" formControlName="status">
            <label for="unmarried">Unmarried</label>
          </div>
        <br />
        <h4>Address</h4>
        <div formArrayName="address" *ngFor="let address of userForm.get('address')['controls'];let i = index">
          <div [formGroupName]="i">
            <label for="">Street</label>
            <input type="text" formControlName="street">
            <br>
            <label for="">Door</label>
            <input type="text" formControlName="door">
            <br>
            <label for="">Zip Code</label>
            <input type="text" formControlName="zipcode">
          </div>
        </div>
        <br>
        <br>
        <input type="submit" value="Submit"/>
      </form>
    </div>


    <div class="col-lg-6" style="float: right;">
      <table style=" margin-top: 10px; font-size: 0.8em;" border="1px">
        <thead>
        <tr>
          <th style="padding:2.5px; width: 10%;" rowspan="2">Name</th>
          <th style="padding:2.5px; width: 10%;" rowspan="2">Email</th>
          <th style="padding:2.5px; width: 10%;" rowspan="2">DOB</th>
          <th style="padding:2.5px; width: 10%;" rowspan="2">Country</th>
          <th style="padding:2.5px; width: 10%;" rowspan="2">Gender</th>
          <th style="padding:2.5px; width: 10%;" rowspan="2">Status</th>
          <th style="padding:2.5px; width: 30%;" colspan="3">Address</th>
          <th style="padding:2.5px; width: 5%;" rowspan="2">Button</th>
        </tr>
        <tr>
          <th>Street</th>
          <th>Door</th>
          <th>Pincode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userDetails;let i=index">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.dob}}</td>
          <td>{{user.country}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.status}}</td>
          <td>{{user.address[0].street}}</td>
          <td>{{user.address[0].door}}</td>
          <td>{{user.address[0].zipcode}}</td>
          <button (click)="deleterows(i)">Delete</button>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>